.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: #0a0e14;
  color: #b3b1ad;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.Sudoku {
  display: flex;
  justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
  border: none;
  box-shadow: none;
  background-color: #0a0e14;
  color: #b3b1ad;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}

input[type=number]:focus{
  outline: none;
}

table {
  border: 1px solid #b3b1ad;
  border-collapse: collapse;
}

td {
  padding: 0;
  height: 55px;
  width: 55px;
  text-align: center;
  border: 1px solid #b3b1ad;
}

td:first-child {
  border-left:solid;
}

td:nth-child(3n) {
  border-right:solid ;
}

tr:first-child {
  border-top:solid;
}

tr:nth-child(3n) td {
  border-bottom:solid ;
}
